*{
    margin: 0px;
    padding: 0;
}
h1{
    margin-top: 20px;
}
body{
    background-color: #E6AF2E;
    text-align: center;
}
.conatiner{
    height:70vh;
}
.game{
    margin-top: 40px;
    height:60vmin;
    width: 60vmin;
    display:grid;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    text-align: center;
    color:#3D348B;   
    background-color: #E0E2DB;
}
.reset , .new{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #BEB7A4;
    color: #191716;
    border-radius: 1rem;
    border: none;
    margin-top: 50px;
    margin-left: 10px ;
}
.game :first-child{
    grid-column-start: 1;
    grid-row-start: 1;
}
.game :nth-child(3){
    grid-column-end: 4;
    grid-row-end: 4;
}
p{
    margin-top:20px;
    font-size: 40px;
}